body {
    padding: 1rem;
}
.logo {
    padding: 0;
    float: left;
    width: 20%;
    height: 5%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 0;
}
nav a {
    text-decoration: none;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.search {
    flex: 0 0 auto;
    display: flex;
    gap: 1px;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0.5rem;
}
.checked {
    color: orange;
}