* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 1rem;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
}
.logo {
    width: 200px;
}
body header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;   
}
nav a {
    text-decoration: none;
    align-items: center;
    color: black;
}
.header-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 10px;
    justify-content: center;
}
.checked {
    color: orange;
}
.btn {
    background-color: red;
    width: 100px;
    color: white;
}
.view {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.movies-slider {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    box-sizing: border-box;
}
.movies-slider p {
    font-size: medium;
    font-weight: bold;
}
.movie-card {
    width: 150px;
    margin: 10px;
    padding: 35px;
    background-color: white;
}
.cta-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
}
.maturity-rating {
    border: 1px solid black;
    border-radius: 5px;
}
footer {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
footer nav {
   margin: 20px 0
}
footer nav a {
    padding: 20px;
    row-gap: 20px;
    text-decoration: none;
    color: rgb(53, 45, 45);
    margin: 0;
}
footer img {
    flex: 1;
    height: 30px;
}